html 
    font-size: 62.5%
    @media (max-width: 1679px)
        font-size: 55.5%
    @media (max-width: 1439px)
        font-size: 45%
    background: #f1f1f1

* 
    box-sizing: border-box
    font-family: "museo", sans-serif !important
    
.container
    padding: 2% 2.5% 0%

section
    padding-bottom: 4.8rem

.title
    font-size: 6.4rem
    font-weight: 900

    &-smaller
        font-size: 4.8rem