@import "abstracts/_variables"

@import "core/_normalize"
@import "core/_reset"
@import "core/_typography"

html 
    font-size: 62.5%
    background: #f1f1f1

* 
    box-sizing: border-box
    font-family: "museo", sans-serif !important

body
    padding: 2% 2.5% 0%

@import "layout/_header"

@import "pages/_games"