.news-page
    display: flex
    flex-direction: row
    justify-content: space-between

.news-container
    width: 70%
    
    &__search
        margin-bottom: 3.6rem
        position: relative

        button
            position: absolute
            right: 2.4rem
        

    &__row
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap

        &-card
            width: 48.5%
            margin-bottom: 4rem



.tags-container
    background-color: $mainlightgray
    width: 25%
    padding: 2.5rem
    margin-left: auto
    border-radius: 1rem

    &__title
        font-weight: 700
        font-size: 3.2rem
        margin-bottom: 1rem

    &__tags
        list-style-type: disc
        padding-left: 5rem

    &__tag
        font-weight: 700
        font-size: 3.2rem
        margin: 0.5rem 0

