.news-page
    display: flex
    flex-direction: row
    justify-content: space-between

.tags_container
    padding-bottom: 1.8rem

.tags_container-tag
    background: $mainred
    border-radius: 1rem
    width: fit-content
    font-size: 2.4rem
    font-weight: 900
    padding: 0.7rem 3rem
    border-radius: 2rem
    color: #fff

    &-button
        background: #fff
        border-radius: 50%
        margin-left: 1rem
        outline: none
        border: none
        color: $mainred
        font-weight: 900
        cursor: pointer

.news-container
    width: 70%
    
    &__search
        margin-bottom: 1.8rem
        position: relative

        button
            position: absolute
            right: 2.4rem
        

    &__row
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap

        &-card
            width: 48.5%
            margin-bottom: 4rem



.tags-container
    background-color: $mainlightgray
    width: 25%
    padding: 2.5rem
    margin-left: auto
    border-radius: 1rem

    &__title
        font-weight: 700
        font-size: 3.2rem
        margin-bottom: 1rem

    &__tags
        list-style-type: disc
        padding-left: 5rem

    &__tag
        font-weight: 700
        font-size: 3.2rem
        margin: 0.5rem 0

