.news-page
    display: flex
    flex-direction: row
    justify-content: space-between

.news-container
    width: 70%
    
    &__search
        margin-bottom: 3.6rem

        button
            position: absolute
            left: 66.085%
        

    &__row
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 4rem

        &-card1
            width: 48.5%
        &-card2
            width: 48.5%




.tags-container
    background-color: $mainlightgray
    width: 25%
    padding: 2.5rem
    margin-left: auto
    border-radius: 1rem

    &__title
        font-weight: 900
        font-size: 3.2rem
        margin-bottom: 1rem

    &__tags
        list-style-type: disc
        padding-left: 5rem

    &__tag
        font-weight: 900
        font-size: 3.2rem

