.main-section

    &__header
        display: flex
        flex-direction: column
        justify-content: center
        padding-left: 6rem

    &__title
        font-size: 6.4rem
        font-weight: 900
        color: white
        margin-bottom: 2.3rem

    &__description
        display: flex

    &__tagbox
        display: flex

    &__tag
        margin-right: 0.7rem

.description
    display: flex
    justify-content: space-between
    @media (max-width: 767px)
        flex-direction: column

    &__about
        width: 70%
        @media (max-width: 767px)
            width: 100%
    &__text
        font-size: 3.2rem
        font-weight: 900
    
    &__images
        width: 27.5%
        @media (max-width: 767px)
            width: 100%
    
    &__image
        background-color: $mainlightgray
        background-position: center
        background-size: cover
        // background: url("path to current img") center center / cover no-repeat
        border-radius: 1rem
        margin-bottom: 1.6rem
        aspect-ratio: 16 / 9