.search {
  display: flex;
  align-items: center;
}
.search__field {
  width: 100%;
  background-color: #EDEDED;
  border: none;
  border-radius: 1rem;
  padding: 2rem;
  font-size: 2.4rem;
  font-weight: 900;
  outline: none;
}
.search__btn {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #EDEDED;
}

.news-card {
  height: 52.5rem;
}
.news-card__image {
  height: 39rem;
  background-color: #EDEDED;
  border-radius: 1rem;
  margin-bottom: 1.6rem;
}
.news-card__description {
  display: inline-flex;
  margin-bottom: 1.6rem;
}
.news-card__tagbox {
  display: flex;
  flex-direction: row;
}
.news-card__tag {
  margin-right: 1.2rem;
}
.news-card__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
}

.tag {
  background-color: #ff4747;
  color: white;
  font-size: 2.4rem;
  font-weight: 900;
  padding: 0.7rem 3rem;
  border-radius: 2rem;
}

.datebox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.datebox__clock {
  height: 2.4rem;
  margin-right: 1rem;
}
.datebox__date {
  font-weight: 700;
  font-size: 2.2rem;
}

.person_wrapper {
  text-align: center;
  width: calc(100% - 16px);
  margin: auto;
}

.person_image {
  max-width: 100%;
}

.person_info_wrapper {
  background: #fff;
  padding: 2.4rem;
  border-radius: 10px;
  display: flex;
  font-size: 32px;
  font-weight: 900;
}

.person_number {
  font-size: 6rem;
  margin: auto 0;
}

.gameaction_wrapper {
  background: #fff;
  padding: 2.4rem;
  border-radius: 10px;
  display: flex;
  font-size: 32px;
  font-weight: 900;
}

.gameaction_info {
  width: 60%;
  margin-right: 10%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: auto;
}
.gameaction_info-action {
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
}

.gameaction_person {
  width: 30%;
  position: relative;
}
.gameaction_person img {
  position: absolute;
  height: calc(100% + 4rem);
  bottom: -2.4rem;
  right: 0;
}

.big-image {
  height: 50rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg_template.jpg) center center/cover no-repeat;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  background: #f1f1f1;
}

* {
  box-sizing: border-box;
  font-family: "museo", sans-serif !important;
}

.container {
  padding: 2% 2.5% 0%;
}

section {
  padding-bottom: 4.8rem;
}

.swiper-wrapper.games_swiper-wrapper {
  width: 100%;
}

.btn_arrow {
  width: 64px;
  height: 64px;
  border-radius: 1.3rem;
  display: flex;
  justify-content: center;
  background: #fff;
  border: 3px solid #CACACA;
}
.btn_arrow:not(.swiper-button-disabled):hover {
  cursor: pointer;
  border-color: #ff4747;
  background: #ff4747;
}
.btn_arrow:not(.swiper-button-disabled):hover img {
  filter: invert(1);
}
.btn_arrow img {
  width: 32px;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.swiper_title {
  font-size: 4.8rem;
  font-weight: 900;
  margin: auto 0;
  flex-grow: 1;
}

.swiper_header {
  display: flex;
  margin-bottom: 2.4rem;
}
.swiper_header .btn_prev {
  margin-right: 24px;
}

@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-100.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-300.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-500.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-700.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-900.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "museo";
  src: url("/../fonts/MuseoSansCyrl-100Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-300Italic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-500Italic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-700Italic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-900Italic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.4rem;
  padding: 2% 2.5% 0%;
}

.logo {
  height: 80%;
  width: 80%;
}

.navbar {
  display: flex;
  align-items: center;
}

.btn:not(:last-child) {
  margin-right: 2vw;
}
.btn a {
  color: black;
  text-decoration: none;
  font-size: 3.6rem;
  font-weight: 700;
}
.btn__underline {
  height: 0.3rem;
  background-color: #ff4747;
  margin-top: 0.3rem;
}

.selected {
  background-color: #ff4747;
  padding: 0.6rem 0.9rem;
  border-radius: 1.3rem;
}
.selected a {
  color: white;
}
.selected .btn__underline {
  display: none;
}

.user {
  display: flex;
}

.socials {
  display: flex;
  align-items: center;
}
.socials__tg {
  margin-right: 1.95rem;
}
.socials__yt {
  margin-right: 1.65rem;
}
.socials__vk {
  margin-right: 2.775rem;
}

.page_wrapper {
  padding: 2% 2.5% 0%;
}

.game_section {
  margin-bottom: 6rem;
}
.game_section:last-child {
  padding-bottom: 6rem;
}

.game_header {
  display: flex;
  margin-bottom: 4.8rem;
}

.game_month {
  font-size: 6.4rem;
}

.swiper-slide.games_swiper-slide {
  width: 32%;
  margin-right: 2%;
  background: #fff;
  border-radius: 1.3rem;
}

.game_wrapper {
  padding: 24px;
}
.game_wrapper .badge {
  margin-bottom: 1.2rem;
}
.game_wrapper .game_title {
  margin-bottom: 1rem;
}
.game_wrapper .game_score {
  margin-bottom: 1.2rem;
}

.badge {
  font-size: 2.4rem;
  font-weight: 700;
  background: #ff4747;
  border-radius: 1.3rem;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 3.2rem;
}

.game_title {
  font-size: 3.2rem;
  font-weight: 700;
}

.game_score {
  font-size: 6.4rem;
  font-weight: 700;
}

.game_footer {
  display: flex;
  width: 100%;
}
.game_footer * {
  margin: auto 0;
}
.game_footer img {
  width: 37px;
  height: 32px;
  margin-right: 1.2rem;
}
.game_footer .badge {
  margin-bottom: 0;
}
.game_footer .game_time {
  margin-right: 2.4rem;
}

.game_time {
  font-size: 2.4rem;
  font-weight: 700;
}

.game_status-lose {
  background-color: #ff4747;
}

.game_status-win {
  background-color: #02CC83;
}

.game_status-draw {
  background-color: rgba(0, 0, 0, 0.1882352941);
}

.news-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-container {
  width: 70%;
}
.news-container__search {
  margin-bottom: 3.6rem;
}
.news-container__search button {
  position: absolute;
  left: 66.085%;
}
.news-container__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news-container__row-card {
  width: 48.5%;
  margin-bottom: 4rem;
}

.tags-container {
  background-color: #EDEDED;
  width: 25%;
  padding: 2.5rem;
  margin-left: auto;
  border-radius: 1rem;
}
.tags-container__title {
  font-weight: 700;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}
.tags-container__tags {
  list-style-type: disc;
  padding-left: 5rem;
}
.tags-container__tag {
  font-weight: 700;
  font-size: 3.2rem;
  margin: 0.5rem 0;
}

.main-section__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6rem;
}
.main-section__title {
  font-size: 6.4rem;
  font-weight: 900;
  color: white;
  margin-bottom: 2.3rem;
}
.main-section__description {
  display: flex;
}
.main-section__tagbox {
  display: flex;
}
.main-section__tag {
  margin-right: 0.7rem;
}

.description {
  display: flex;
  justify-content: space-between;
}
.description__about {
  width: 70%;
}
.description__text {
  font-size: 3.2rem;
  font-weight: 900;
}
.description__images {
  width: 27.5%;
}
.description__image {
  height: 35rem;
  background-color: #EDEDED;
  border-radius: 1rem;
  margin-bottom: 1.6rem;
}/*# sourceMappingURL=style.css.map */