@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-100.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-300.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-500.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-700.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-900.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "museo";
  src: url("/../fonts/MuseoSansCyrl-100Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-300Italic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-500Italic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-700Italic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoSansCyrl-900Italic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}
html {
  font-size: 62.5%;
  background: #f1f1f1;
}

* {
  box-sizing: border-box;
  font-family: "museo", sans-serif !important;
}

body {
  padding: 2% 2.5% 0%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.logo {
  height: 80%;
  width: 80%;
}

.navbar {
  display: flex;
  align-items: center;
}

.btn:not(:last-child) {
  margin-right: 2vw;
}
.btn a {
  color: black;
  text-decoration: none;
  font-size: 3.6rem;
  font-weight: 700;
}
.btn__underline {
  height: 0.3rem;
  background-color: #ff4747;
  margin-top: 0.3rem;
}

.selected {
  background-color: #ff4747;
  padding: 0.6rem 0.9rem;
  border-radius: 1.3rem;
}
.selected a {
  color: white;
}
.selected .btn__underline {
  display: none;
}

.user {
  display: flex;
}

.socials {
  display: flex;
  align-items: center;
}
.socials__tg {
  margin-right: 1.95rem;
}
.socials__yt {
  margin-right: 1.65rem;
}
.socials__vk {
  margin-right: 2.775rem;
}

.swiper-wrapper.games_swiper-wrapper {
  width: 100%;
}

.game_section {
  margin-bottom: 6rem;
}
.game_section:last-child {
  padding-bottom: 6rem;
}

.game_header {
  display: flex;
  margin-bottom: 48px;
}
.game_header .btn_prev {
  margin-right: 24px;
}

.game_month {
  font-size: 64px;
  font-weight: 700;
  flex-grow: 1;
}

.btn_arrow {
  width: 64px;
  height: 64px;
  border-radius: 1.3rem;
  display: flex;
  justify-content: center;
  background: #fff;
  border: 3px solid #CACACA;
}
.btn_arrow:hover {
  cursor: pointer;
  border-color: #ff4747;
  background: #ff4747;
}
.btn_arrow:hover img {
  filter: invert(1);
}
.btn_arrow img {
  width: 32px;
}

.swiper-slide.games_swiper-slide {
  width: 32%;
  margin-right: 2%;
  background: #fff;
  border-radius: 1.3rem;
}

.game_wrapper {
  padding: 24px;
}
.game_wrapper .badge {
  margin-bottom: 1.2rem;
}
.game_wrapper .game_title {
  margin-bottom: 1rem;
}
.game_wrapper .game_score {
  margin-bottom: 1.2rem;
}

.badge {
  font-size: 2.4rem;
  font-weight: 700;
  background: #ff4747;
  border-radius: 1.3rem;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 3.2rem;
}

.game_title {
  font-size: 3.2rem;
  font-weight: 700;
}

.game_score {
  font-size: 6.4rem;
  font-weight: 700;
}

.game_footer {
  display: flex;
  width: 100%;
}
.game_footer * {
  margin: auto 0;
}
.game_footer img {
  width: 37px;
  height: 32px;
  margin-right: 1.2rem;
}
.game_footer .badge {
  margin-bottom: 0;
}
.game_footer .game_time {
  margin-right: 2.4rem;
}

.game_time {
  font-size: 2.4rem;
  font-weight: 700;
}

.game_status-lose {
  background-color: #ff4747;
}

.game_status-win {
  background-color: #02CC83;
}

.game_status-draw {
  background-color: rgba(0, 0, 0, 0.1882352941);
}/*# sourceMappingURL=style.css.map */