.news-card
    height: 52.5rem
    cursor: pointer

    &__image
        height: 35rem
        @media (max-width: 949px)
            aspect-ratio: 4 / 3
        @media (max-width: 767px)
            aspect-ratio: 16 / 9
            height: auto
        background-color: $mainlightgray
        background-position: center
        background-size: cover
        // background: url("path to current img") center center / cover no-repeat
        border-radius: 1rem
        margin-bottom: 1.6rem

    &__description
        display: inline-flex
        margin-bottom: 1.6rem

    &__tagbox
        display: flex
        flex-direction: row

    &__tag
        margin-right: 1.2rem

    &__title
        font-family: "Montserrat Alternates", sans-serif
        font-size: 3.2rem
        font-weight: 700