.person_wrapper
    text-align: center
    width: calc(100% - 16px)
    margin: auto

.person_image
    max-width: 100%

.person_info_wrapper
    background: #fff
    padding: 2.4rem
    border-radius: 10px
    display: flex
    font-size: 32px
    font-weight: 900

.person_number
    font-size: 6rem
    margin: auto 0